@using BuildingBlocks.Data.Entities
@model IEnumerable<BuildingBlocks.Data.Entities.UserSkill>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detail";
}
<section class="project-section active">
    <h1 class="project-heading">Some of my project</h1>
    <div class="project-container">
        @foreach (var item in Model ?? new List<UserSkill>())
        {
            <div class="project-card">
                @{ var images = item.Project.Split(','); }
                <img src="~/images/@images[0]" class="project-img" alt="@item.Skill">
                <div class="project-content">
                    <h1 class="project-title">@item.ShortTitle</h1>
                    <p class="project-info">
                        @item.TitleProject
                    </p>
                    <form style="display: flex; width: 100%; justify-content: center">
                        <button style="margin: 5px;padding: 10px; width: 100%" class="project-btn github">github</button>
                        <button asp-controller="UserSkills" asp-action="Edit" asp-route-id="@item.Id" style="margin: 5px;padding: 10px; width: 100%;text-align: center; align-items: center" class="project-btn live">Edit</button>
                        <button asp-controller="UserSkills" asp-action="Delete" asp-route-id="@item.Id" style="margin: 5px;padding: 10px; width: 100%;text-align: center; align-items: center; background: #FF4F4F" class="project-btn">Delete</button>
                    </form>
                </div>
            </div>
        }
        <a class="form-submit-btn" asp-action="Create" asp-controller="UserSkills" asp-area="Member">Add New Project</a>
    </div>
</section>