@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Web
@using BuildingBlocks.Data.Entities
@model IEnumerable<BuildingBlocks.Data.Entities.News>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="forum-section active">
    <div class="wrapper">
        <form class="left-col">
            @foreach (var item in Model ?? new List<News>())
            {
                <div class="post">
                    <div class="info" style="padding-top: 20px">
                        <div class="user">
                            <h2 style="color: white; padding: 5px 5px 5px 0">@item.Title</h2>
                        </div>
                    </div>
                    <div class="post-content">

                        @{ var images = item.Images.Split(','); }
                        @if (images.Any(x => !string.IsNullOrEmpty(x)))
                        {
                            if (images[0].Contains("mp4"))
                            {
                                <video class="post-video" controls>
                                    <source src="~/images/@images[0]" type="video/mp4">
                                </video>
                            }
                            else
                            {
                                <img src="~/images/@images[0]" class="post-image" alt="@item.Title">
                            }
                        }
                        <div class="description">
                            <p style="color: white">
                                @HttpUtility.HtmlDecode(item.Content[..200])<span id="dots_@item.Id">...</span><a class="more" id="more_@item.Id">@HttpUtility.HtmlDecode(item.Content[200..])</a>
                            </p>
                            <a onclick="myFunction(@item.Id)" id="myBtn_@item.Id">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</section>

<style>
    .more {display: none;}
</style>

@section Scripts
{
    <script>
        function myFunction(id) {
          var dots = document.getElementById(`dots_${id}`);
          var moreText = document.getElementById(`more_${id}`);
          var btnText = document.getElementById(`myBtn_${id}`);
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
          }
        }
    </script>
}