@using BuildingBlocks.Data.Entities
@using BuildingBlocks.Extensions
@model IEnumerable<BuildingBlocks.Data.Entities.Post>
@{
    var comments = ViewData["Comment"] as IEnumerable<Comment>;
    var user = ViewData["User"] as User;
    var users = ViewData["alluser"] as IEnumerable<User>;
}
<section class="forum-section active">
    <div class="wrapper">
        <div class="left-col" style="padding-top: 10px">
            <a asp-controller="Posts" asp-action="Create" style="text-decoration: none; background: #ff4f4f; padding: 10px 20px; color: white; border-radius: 5px">New Post</a>
            @foreach (var item in Model ?? new List<Post>())
            {
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic">
                                <img src="~/images/@(string.IsNullOrEmpty(item.User.Avatar) ? "default-avatar.png" : item.User.Avatar)" alt="@item.User.Username">
                            </div>
                            <p class="username">@item.User.Username</p>
                        </div>
                        @if (User.GetId() == item.UserId)
                        {
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none ;background: #ff4f4f; padding: 5px 10px; color: white; border-radius: 5px">Delete</a>
                        }
                    </div>
                    @{ var images = item.UrlImages.Split(','); }
                    @if (images.Any(x => !string.IsNullOrEmpty(x)))
                    {
                        if (images[0].Contains("mp4"))
                        {
                            <video class="post-video" controls>
                                <source src="~/images/@images[0]" type="video/mp4">
                            </video>
                        }
                        else
                        {
                            <img src="~/images/@images[0]" class="post-image" alt="@item.Title">
                        }
                    }
                    <div class="post-content">
                        <h2 style="color: white; padding: 5px 5px 5px 0">@item.Title</h2>
                        <p class="description">
                            @item.Note
                        </p>
                        <div class="reaction-wrapper">
                            <a asp-action="Like" asp-controller="Posts" asp-area="Member" asp-route-id="@item.Id">
                                <img src="~/img/heart_outline.png" class="icon" alt="">
                            </a>
                            <a class="likes">@item.Like likes</a>
                        </div>
                    </div>
                    <div>
                        @foreach (var comment in comments ?? new List<Comment>())
                        {
                            if (comment.PostId == item.Id)
                            {
                                <li class="media" style="list-style-type: none;">
                                    @if (comment.UserId == user?.Id)
                                    {
                                        <p class="fs-8 pt-2" style="color:white; width: 100%">
                                            Me: @comment.Content
                                            <a style="color: #ff4f4f; text-decoration: none" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="fs-8 pt-2" style="color:white; width: 100%">
                                            @comment.User.Username: @comment.Content
                                        </p>
                                    }
                                </li>
                            }
                        }
                    </div>
                    <div style="padding: 10px">
                        <form asp-controller="Comments" asp-action="Create" asp-area="Member" asp-route-postId="@item.Id">
                            <div class="comment-wrapper">
                                <img src="~/img/smile.png" class="icon" alt="">
                                <input name="content" type="text" class="comment-box" placeholder="Add a comment">
                                <button type="submit" class="comment-btn">post</button>
                            </div>
                        </form>
                    </div>

                </div>
            }
        </div>
        <div class="right-col">

            <p class="suggestion-text">Suggestions for you</p>
            @foreach (var item in (users ?? new List<User>()).TakeLast(5))
            {
                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="~/images/@(string.IsNullOrEmpty(item.Avatar) ? "default-avatar.png" : item.Avatar)" alt="">
                    </div>
                    <div>
                        <p class="username">@item.Username</p>
                    </div>
                    <form asp-controller="UserSkills" asp-action="IndexSearch" method="post" class="contact-form">
                        <div class="input-group">
                            <input hidden name="username" type="text" class="form-control search-input w-75" value="@item.Username">
                        </div>
                        <button class="action-btn">Seen CV</button>
                    </form>
                </div>
            }

        </div>
    </div>
</section>